{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "printWidth": 120,
  "proseWrap": "always",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
